@import "tailwindcss";


@layer utilities {
    @keyframes typewriter {
      0% {
        width: 0;
        opacity: 0;
      }
      100% {
        width: 100%;
        opacity: 1;
      }
    }
  
    .typewriter {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      width: 0;
      animation: typewriter 5s steps(30) infinite;
    }
  }